################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/react-cloud/.vs
